@model Proyecto_Notas.Models.Nota

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNota" />
<div class="form-group">
    <label asp-for="IdEstudiante" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdEstudiante, ViewData["Estudiantes"] as SelectList, "-- Seleccione un estudiante --", new { @class = "form-control" })
</div>

<div class="form-group">
    <label asp-for="IdMateria" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdMateria, ViewData["Materias"] as SelectList, "-- Seleccione una materia --", new { @class = "form-control" })
</div>

<div class="form-group">
    <label asp-for="Nota1" class="control-label"></label>
    <input asp-for="Nota1" class="form-control" />
</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }