@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
     <h1 class="display-4">Instituto Maria Julia</h1>
    <p class="lead">Aplicacion de registro para las notas de nuestros estudiantes.</p>
  </div>
</div>
    <hr />

  <div class="text-center">
      <h1 class="display-4">Reportes</h1>
  </div>


     <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
