
@{
    ViewData["Title"] = "Inicio";
}
@model IEnumerable<Proyecto_Notas.DTOs.ResultadoConsulta>

<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
     <h1 class="display-4">Instituto Maria Julia</h1>
    <p class="lead">Aplicacion de registro para las notas de nuestros estudiantes.</p>
  </div>
</div>
    <hr />

  <div class="text-center">
      <h1 class="display-4">Reportes</h1>
  </div>

  <div class="b-example-divider"></div>


        <div>
          <h3 class="fs-2">Aprobados</h3>
          <p>Aqui encontraras los estudiantes <strong>aprobados</strong> con una nota de 3.5 o mas</p>
          <a class="btn btn-primary" asp-controller="Aprobados" asp-action="Index">Reporte</a>
        </div>


        <div>
          <h3 class="fs-2">No Aprobados</h3>
          <p>Aqui encontraras los estudiantes <strong>reprobados</strong> con una nota menor a 3.5</p>
         <a class="btn btn-primary" asp-controller="NoAprobados" asp-action="Index">Reporte</a>
        </div>


         <div>
          <h3 class="fs-2">Mas Altas por Materia</h3>
          <p>Aqui encontraras los estudiantes con las notas mas altas por materia</p>
         <a class="btn btn-primary" asp-controller="InferioresxMateria" asp-action="Index">Reporte</a>
        </div>

        <div>
          <h3 class="fs-2">Mas Bajas por Materia</h3>
          <p>Aqui encontraras los estudiantes con las notas mas bajas por materia</p>
         <a class="btn btn-primary" asp-controller="Aprobados" asp-action="Index">Reporte</a>
        </div>


  <div class="b-example-divider"></div>

     <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
