@model Proyecto_Notas.Models.Materia

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Materias</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMateria" class="control-label"></label>
                <input asp-for="IdMateria" class="form-control" />
                <span asp-validation-for="IdMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreMateria" class="control-label"></label>
                <input asp-for="NombreMateria" class="form-control" />
                <span asp-validation-for="NombreMateria" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
