@model Proyecto_Notas.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            IdMateria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMateria)
        </dd>
        <dt class = "col-sm-2">
            Nombre de la Materia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMateria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMateria">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
